htlm
  head
    title  D- CLIC  
    link(rel='stylesheet' href='style.css')
  .container
    .menu
      ul
        li.logo
          img(src='./image/sayna.jpg')
        li
          a(href='/Home')  Home
        li
          a(href='/BackEnd')  BackEnd
        li
          a(href='/FrontEnd')  FrontEnd
        li
          a(href='/MarketingDigital')  Marketing Digital
        li
          a(href='/UX-UI')  UX/UI
        li
          a(href='/Contact')  Contact
        // <li> <a href = "#" class="signup-btn"> <span> Sign Up </span> </a> </li>
    .banner
      .app-text
        h1
          | D-CLIC 
          br
          |  Venez coder le serveur avec nous
        p
          | Ici on &eacute;tudie la gestion des bases de donn&eacute;es 
          br
          |  la logique de l&rsquo;application,  
          br
          |  les API etc&mldr;,
        .play-btn
          .play-btn-inner
      .app-picture-backend
        img(src='./image/image_backend.jpg')
      .flip-box
        .flip-box-inner
          .flip-box-front
            h2 Avis des utilisateurs sur le backend
          .flip-box-back
            h2 Suite
  .wrapper
    if (result)
      each res in result
        .box 
          .card
            h1 #{res.fname} #{res.lname}
            p.title &quot; #{res.avis}. &quot;
            p Note : #{res.note}/5
            p.bg-dark #{res.formation}

          
