htlm
  head
    title  D- CLIC  
    link(rel='stylesheet' href='style.css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN' crossorigin='anonymous')
  .container
    .menu
      ul
        li.logo
          img(src='./image/sayna.jpg')
        li
          a(href='/Home')  Home
        li
          a(href='/BackEnd')  BackEnd
        li
          a(href='/FrontEnd')  FrontEnd
        li
          a(href='/MarketingDigital')  Marketing Digital
        li
          a(href='/UX-UI')  UX/UI
        li
          a(href='/Contact')  Contact
        // <li> <a href = "#" class="signup-btn"> <span> Sign Up </span> </a> </li>
    .banner
      .app-text
        h1
          | D-CLIC 
          br
          |  Venez coder avec nous
        p
          | Apprendre &agrave; coder : du plaisir pour tout le monde !  
          br
          |  Conna&icirc;tre le codage, ce n&apos;est pas seulement 
          br
          |  satisfaire notre curiosit&eacute;.  
          br
          |  Il est probable que l&apos;avenir de l&apos;humanit&eacute; en d&eacute;pend.
        .play-btn
          .play-btn-inner
      .app-picture-index
        img(src='./image/photo.jpg')
      h1.comms COMMENTAIRES 
  .wrapper
    if (result)
      each res in result
        .box 
          .card
            h1 #{res.fname} #{res.lname}
            p.title &quot; #{res.avis}. &quot;
            p Note : #{res.note}/5
            p.bg-dark #{res.formation}
      

script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
script(src='/script/script.js')
